@import "tailwindcss";

:root {
  --background: rgb(156, 156, 156);
  --foreground: #ffffff;
}

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --breakpoint-3x1: 120px;
}

@layer base{
body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  
}

img{
  width: 400px;
  height: 300px;
  border-radius: 20px;
}


input[type='text']{
  flex-wrap: wrap;
  max-width: 100%;
}

img#categories{
  border-radius: 80px;
  width: 200px;
  height: 160px;
}

a{
  align-items: center;
}

nav > a:hover{
  border: 5px solid rgb(87, 87, 87);
}

svg{
  height: 50px;
  width: 50px;
}

svg:hover{
  border: 1px solid blue;
}

article#cath > img{
  height: 140px;
  width: 200px;
  gap: 6px;
}

a#login{
  right: 0;
  position: absolute;
}

a#login:hover{
  font-size: 20px;
}

label{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

button#update:hover{
  border: 4px green solid;
}

button#delete:hover{
   border: rgb(134, 0, 0) 4px solid;
}

button#cart:hover{
  border: blue 4px solid;
}

form#form > input{
  border: black 2px solid;
  padding: 2px;
}

form#register > input{
  border: 4px solid black;
}

th{
  padding: 30px;
}

button#logout:hover{
  border: 3px solid rgb(95, 2, 2);
}

div#contacts > article{
  background-color: rgb(0, 55, 128);
  padding: 20px;
}

tr, td{
  border: black 1px solid;
}
}